extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box
        h1= `${name.first} ${name.last}`
        p= `${title}`
        .about-bio
          p= `${aboutUser}` 

      .skills-contact-box.box
        h6 Skills
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug
          li SASS

        h6 Contact Info
        ul
          li= `${phone}`
          li= `${email}`


        a.btn-link(href=`${linkedinUrl}`) LinkedIn
        a.btn-link(href=`${githubUrl}`) GitHub
        a.btn-link(href=`${twitterUrl}`) Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back