extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-projects

    if !foundProject
      .inner-wrapper.flex-row-wrap.two-col
        .project-info-box.box
          h1= `No such project found - project id "${id}"`        
    else
      .inner-wrapper.flex-row-wrap.two-col

        .project-info-box.box

          //- Use the info in your data file and the comments below to complete this template

          //- Use interpolation to dynamically add the project title
          h1= foundProject.Name

          //- Use interpolation to dynamically add the project description
          p= foundProject.description

        .project-tech-links-box.box
          h6 Technologies
          ul
            each val in foundProject.technologies
              li= val


          //- Add the href values to the links below
          a.btn-link(href=`${foundProject.urlLink}`, target="_blank") Live Demo
          a.btn-link(href=`${foundProject.githubLink}`, target="_blank") GitHub Repo

      .project-img-box.box
        each img in foundProject.imgUrl.large
          img.project-img(src=`../img/portfolio/${img}`, alt=`Screenshot of project: ${Name}`)
      


  nav.nav
    a(href='/')
      span &larr;
      |  Back
